.header {
  @include content-padding-inline;

  height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url(../images/header-bg.png);
  background-size: 290px 288px;
  background-repeat: no-repeat;
  background-position: left 50% top 284px;

  @include on-tablet {
    background-size: 328px 326px;
    background-position: left 50% top 208px;
  }

  @include on-desktop {
    background-size: 546px 544px;
    background-position: left 50% top 288px;
    background-position: left 50% top 80px;
  }

  @include on-wide-desktop {
    background-size: 586px 584px;
  }

  &__bottom {
    height: calc(100vh - $top-bar-height-mobile);

    padding-top: 32px;
    padding-bottom: 40px;

    @include on-tablet {
      padding-top: 80px;
      padding-bottom: 0;
    }

    @include on-desktop {
      height: calc(100vh - $top-bar-height-desktop);
      padding-top: 135px;
    }

    @include on-wide-desktop {
      padding-top: 144px;
    }
  }

  &__text {
    padding-bottom: 32px;
    text-align: center;
    padding-bottom: 32px;

    @include on-tablet {
      width: 280px;
      text-align: left;
      padding-bottom: 146px;
    }

    @include on-desktop {
      padding-bottom: 60px;
    }
  }

  &__title {
    font-size: 64px;
    color: $main-text-color;
    padding-bottom: 290px;

    @include on-tablet {
      font-size: 72px;
      line-height: 68px;
      padding-bottom: 210px;
    }

    @include on-desktop {
      font-size: 116px;
      line-height: 115.6px;
      padding-bottom: 64px;
    }

    @include on-wide-desktop {
      font-size: 124px;
      line-height: 122.4px;
      padding-bottom: 64px;
    }
  }

  &__button {
    width: 288px;
    height: 56px;
    outline: none;
    background-color: transparent;
    border: 2px solid $highlight-text-color;
    border-radius: 32px;

    background-image: url(../images/icons/icon-cookie--default.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 50% left 23%;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: $highlight-text-color;

    display: block;
    margin: 0 auto;

    @include on-tablet {
      width: 326px;

    }

    @include on-desktop {
      width: 260px;
      margin: 0;
    }

    @include on-wide-desktop {
      width: 280px;
    }

    &:hover {
      color: #FFF;
      background-color: #F9512E;
      background-image: url(../images/icons/icon-cookie--hover.png);
    }
  }
}
