.container {
  padding: 0;
}

@media (width >= 768px) {
  .container {
    padding: 0 28px;
  }
}

@media (width >= 1440px) {
  .container {
    padding: 0 108px;
  }
}

h1 {
  letter-spacing: -5%;
  text-align: center;
  text-transform: uppercase;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 85%;
}

p {
  letter-spacing: -1%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

@font-face {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("Inter-Regular.03e9fc36.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter, Arial, Helvetica, sans-serif;
  src: url("Inter-Medium.6ca5cc98.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.page {
  color: #1c1a26;
  scroll-behavior: smooth;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.page__body {
  background: #eef7ff;
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  background-color: #ccc;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transition: all .3s;
  transform: translateX(0);
}

.header {
  background-image: url("header-bg.8ec50a9a.png");
  background-position: 50% 284px;
  background-repeat: no-repeat;
  background-size: 290px 288px;
  flex-direction: column;
  height: 100vh;
  padding-inline: 16px;
  display: flex;
}

@media (width >= 1200px) {
  .header {
    padding-inline: 32px;
  }
}

@media (width >= 768px) {
  .header {
    background-position: 50% 208px;
    background-size: 328px 326px;
  }
}

@media (width >= 1200px) {
  .header {
    background-position: 50% 80px;
    background-size: 546px 544px;
  }
}

@media (width >= 1440px) {
  .header {
    background-size: 586px 584px;
  }
}

.header__bottom {
  height: calc(100vh - 64px);
  padding-top: 32px;
  padding-bottom: 40px;
}

@media (width >= 768px) {
  .header__bottom {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

@media (width >= 1200px) {
  .header__bottom {
    height: calc(100vh - 88px);
    padding-top: 135px;
  }
}

@media (width >= 1440px) {
  .header__bottom {
    padding-top: 144px;
  }
}

.header__text {
  text-align: center;
  padding-bottom: 32px;
}

@media (width >= 768px) {
  .header__text {
    text-align: left;
    width: 280px;
    padding-bottom: 146px;
  }
}

@media (width >= 1200px) {
  .header__text {
    padding-bottom: 60px;
  }
}

.header__title {
  color: #1c1a26;
  padding-bottom: 290px;
  font-size: 64px;
}

@media (width >= 768px) {
  .header__title {
    padding-bottom: 210px;
    font-size: 72px;
    line-height: 68px;
  }
}

@media (width >= 1200px) {
  .header__title {
    padding-bottom: 64px;
    font-size: 116px;
    line-height: 115.6px;
  }
}

@media (width >= 1440px) {
  .header__title {
    padding-bottom: 64px;
    font-size: 124px;
    line-height: 122.4px;
  }
}

.header__button {
  text-transform: uppercase;
  color: #f9512e;
  background-color: #0000;
  background-image: url("icon-cookie--default.7b91a518.png");
  background-position: 23% 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 2px solid #f9512e;
  border-radius: 32px;
  outline: none;
  width: 288px;
  height: 56px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  display: block;
}

@media (width >= 768px) {
  .header__button {
    width: 326px;
  }
}

@media (width >= 1200px) {
  .header__button {
    width: 260px;
    margin: 0;
  }
}

@media (width >= 1440px) {
  .header__button {
    width: 280px;
  }
}

.header__button:hover {
  color: #fff;
  background-color: #f9512e;
  background-image: url("icon-cookie--hover.060cbd7d.png");
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  width: 136px;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
}

.icon--open-menu {
  background-image: url("burger-menu.ad9ecbb5.svg");
}

@media (width >= 1200px) {
  .icon--open-menu {
    display: none;
  }
}

.icon--close {
  background-image: url("icon-close.76787d5c.svg");
}

.nav {
  display: none;
}

@media (width >= 1200px) {
  .nav {
    display: flex;
  }

  .nav__list {
    gap: 64px;
    list-style-type: none;
    display: flex;
  }

  .nav__link {
    letter-spacing: -1%;
    color: #1c1a26;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: flex;
  }

  .nav__link:hover {
    text-decoration: underline;
  }

  .nav__link--contact {
    letter-spacing: 2%;
    text-transform: uppercase;
    color: #f9512e;
    font-weight: 500;
  }

  .nav__link--contact:before {
    content: url("phone-icon.9ab2fad4.svg");
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
}

.menu {
  height: 100vh;
  padding-inline: 16px;
}

.menu__bottom {
  height: calc(100vh - 64px);
  padding-top: 132px;
}

.menu__nav {
  display: none;
}

@media (width >= 1200px) {
  .menu__nav {
    display: flex;
  }
}

.menu__list {
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__link {
  letter-spacing: -1%;
  color: #1c1a26;
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.menu__link--contact {
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #f9512e;
  font-weight: 500;
}

.menu__link--contact:before {
  content: url("phone-icon.9ab2fad4.svg");
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

*, :after, :before {
  box-sizing: border-box;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
