$main-bg: #EEF7FF;
$main-text-color: #1C1A26;
$highlight-text-color: #F9512E;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;
$wide-desktop-min-width: 1440px;
$top-bar-height-mobile: 64px;
$top-bar-height-desktop: 88px;
